@import "tailwindcss";

:root {
  --beige: #f5f1eb;
  --gold: #c6a75e;
  --dark: #2e2e2e;
}

body {
  background-color: var(--beige);
  color: #2e2e2e;
}

.dark body {
  background-color: #1e1e1e;
  color: #eaeaea;
}
