@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Tu color base crema */
  background-color: #f5f1eb;
  color: #2e2e2e;

  /* 📜 Efecto de papel antiguo (Viñeta fija) */
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(198, 167, 94, 0.2) 100%
  );
  background-attachment: fixed;
}
